<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    <div id="all">
      <header> {{ partial "nav.html" . }} </header>
      <h1 id="title">{{ .Title }}</h1>
      <h2 id="subtitle">what's stopping you?</h2>
      <div class="container">
        <div class="lessonList" style="margin-bottom: 50px;">
          {{ $paginator := .Paginate (where .Data.Pages "Type" "lessons") }}
          {{ range $paginator.Pages }}
          <div class="lessonCard">
            <div class="lessonInfo full-when-small">
              <h2 class="subtitle">{{ .Params.subtitle }}</h2>
              <h1 class="title">{{ .Title }}</h1>
              <p class="description">{{ .Params.description }}</p>
              <a href="{{ .Permalink }}" class="btn btn-template-main">View Lesson</a>
            </div>
            <div class="lessonImage hide-when-small">
              {{ if .Params.bannerImage }}
              <img src="{{ .Site.BaseURL}}{{ .Params.bannerImage }}">
              {{ else }}
              <img src="{{ .Site.BaseURL}}img/placeholder.png">
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
        <ul class="pager">
            {{ if .Paginator.HasPrev }}
            <li class="previous"><a href="{{ .Site.BaseURL }}{{ .Paginator.Prev.URL }}">&larr; Newer</a></li>
            {{ else }}
            <li class="previous disabled"><a href="#">&larr; Newer</a></li>
            {{ end }}

            {{ if .Paginator.HasNext }}
            <li class="next"><a href="{{ .Site.BaseURL }}{{ .Paginator.Next.URL }}">Older &rarr;</a></li>
            {{ else }}
            <li class="next disabled"><a href="#">Older &rarr;</a></li>
            {{ end }}
        </ul>
      </div>
    {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
