<div class="container" id="contact">
    <h1 id="title">{{ .Title }}</h1>
    <h2 id="subtitle">are you ready for adventure?</h2>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <section>
                <div class="intro"> {{ .Content }} </div>
                {{ if isset .Site.Params "email" }}
                <div id="application-message"></div>
                <form class="application-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">first and last</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">email</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">question1</label>
                                <textarea id="question1" class="form-control" name="question1" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">question2</label>
                                <textarea id="question2" class="form-control" name="question2" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">question3</label>
                                <textarea id="question3" class="form-control" name="question3" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">question4</label>
                                <textarea id="question4" class="form-control" name="question4" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="fa fa-paper-plane"></i>submit</button>

                        </div>
                    </div>
                </form>
                {{ end }}
            </section>
        </div>
    </div>
</div>

